#navi {

	border: 2px solid #000;
	border-left: none;
	border-right: none;
	background-color: transparent;
}

.nav {
	background-color: transparent;
}

#logo {
	text-align: center;
	padding: 50px;
}

#slogan {
	padding: 30px;

}